<div class="row expanded page-hero">
    <neos.media:image image="{heroImage}" width="1600" height="800" allowCropping="true" alt="{title}"/>
    <div class="row title-wrapper">
        <div class="small-offset-1 small-10 column">
            <h1 class="title">{title}</h1>
        </div>
    </div>
</div>