<div class="row expanded site-hero">
    <neos.media:image image="{image}" width="1600" height="1000" alt=""/>
    <div class="row logo-wrapper">
        <div class="column">
            <img class="logo" src="{f:uri.resource(path: 'Assets/Images/CCLaufen_text_white.svg', package: 'GF.CCLaufen')}">
        </div>
    </div>
</div>