.events-list {
    .event {

        margin-bottom: 34px;

        .date {
            @include breakpoint(medium) {
                .weekday,
                .month {
                    font-size: 74%;
                }
            }
        }
        .title {
            font-weight: bold;
        }
        .calendar-name {
            display: inline-block;
            border-bottom-style: solid;
            border-bottom-width: 3px;
        }

        .attribute {
            font-weight: bolder;
        }

        .info-box {
            overflow: hidden;
        }
    }
}