.contact-form {

	.input {
		margin-bottom: 1.2rem;

		.help-inline {
			color: $error-color;
		}
	}

	input, textarea {
		border: none;
		box-shadow: none;
		border-bottom: 2px solid $primary-color;
		margin-bottom: 0.2rem;

		&:focus {
			border: none;
			border-bottom: 2px solid $primary-color;
			background-color: none;
			box-shadow: none;
		}
	}

	.form-navigation {
		ul {
			list-style-type: none;
			margin-left: 0;
		}
	}
}