#footer {
    background-color: $primary-color;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    transition: background-color 600ms ease-in-out;

    a {
        color: white;
        &:hover {
            color: white;
        }
    }

    &.facebook {
        background-color: #3b5998;
    }
    &.branding {
        background-color: #8c0038;
    }

    .navigation-row {
        display: flex;
    }

    .facebook-logo {
        width: 160px;
        margin-bottom: 0.32rem;
    }
    .facebook {
        align-self: flex-end;
        margin-right: 1.6rem;
    }

    .footer-menu {
        align-self: flex-end;
    }

    .footer-menu ul {
        list-style: none;
        margin-left: 0;
        margin-bottom: 0;
        
        li {
            display: inline-block;
            margin-right: 0.3rem;
            
            &.active, &.current {
                font-weight: bold;
            }
        }
    }

    .branding {
        margin-top: 40px;
        font-size: 0.76rem;
    }
}