$breakpoints: (
  small: 0,
  medium: 540px,
  large: 860px,
  xlarge: 1160px,
  xxlarge: 1340px
);
$breakpoint-classes: (small medium large xlarge);
$grid-row-width: 60rem;

$header-styles: (
  small: (
    'h1': ('font-size': 24),
    'h2': ('font-size': 20),
    'h3': ('font-size': 19),
    'h4': ('font-size': 18),
    'h5': ('font-size': 17),
    'h6': ('font-size': 16)
  ),
  medium: (
    'h1': ('font-size': 36),
    'h2': ('font-size': 30),
    'h3': ('font-size': 25),
    'h4': ('font-size': 21),
    'h5': ('font-size': 19),
    'h6': ('font-size': 16)
  ),
  large: (
    'h1': ('font-size': 48),
    'h2': ('font-size': 40),
    'h3': ('font-size': 31),
    'h4': ('font-size': 25),
    'h5': ('font-size': 20),
    'h6': ('font-size': 16)
  )
);

$button-background: #304f96;

$table-background: transparent;
$table-border: none;