// General Setup
html {
	font-size: 18px;
}

body {
	font-family: $main-font;
	color: $font-main-color;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
thead {
	color: inherit;
}

a {
	color: $primary-color;
	text-decoration: none;
	transition: color 300ms ease-in-out;

	&:hover,
	&:focus {
		color: $primary-color;
	}
}

.content {

	flex: 1 0 auto;
	
	@each $size, $spacing in $header-content-spacing {
		@include breakpoint($size) {
			margin-top: $spacing;
		}
	}
	@each $size, $spacing in $content-footer-spacing {
		@include breakpoint($size) {
			margin-bottom: $spacing;
		}
	}

	$neos-content-elements: neos-nodetypes-image,
		neos-nodetypes-text,
		neos-nodetypes-textwithimage,
		neos-nodetypes-html,
		neos-nodetypes-twocolumn,
		neos-nodetypes-threecolumn,
		neos-nodetypes-fourcolumn;

	@each $content-element in $neos-content-elements {
		.neos-contentcollection > .#{$content-element} {
			margin-bottom: $default-spacing;
		}
	}
}

// Safari flexbox bugfix
.row {
    &:before {
        content: none;
    }

    &:after {
        content: '';
    }
}

@media screen and (max-width: 60rem*1.25) {
	.row {
		max-width: 90vw;
	}
}

.news-list,
.tournament-overview {
	&:not(:first-child) {
		margin-top: 80px;
	}
}