// Header
#header {
	position: fixed;
	z-index: 10;
	padding: 6px auto;
	width: 100%;
	overflow: hidden;

	background-color: rgba($header-background-color, 0.7);
	transition: background-color 600ms ease-in, box-shadow 400ms ease-in;
	-webkit-backdrop-filter: blur(4px);

	& + * {
		padding-top: 90px
	}
	
	& + .page-hero,
	& + .site-hero {
		padding-top: 0;
	}

	.header-content {
		display: flex;
		align-items: center;
	}

	.logo {
		margin: 18px 0;	

		img {
			height: 50px;
			width: $header-logo-width;
		}
	}

	.menu {
		a {
			color: $font-main-color;
			white-space: nowrap;
			background-color: transparent;

			&:hover, &:focus {
				color: $primary-color;
			}
		}

		li {
			&.active, &.current {
				> a {
					color: $primary-color;
				}
			}
		}

		ul {
			list-style: none;
			margin-left: 0;
		}

		> ul {
			height: 100%;
			padding: 0;
			margin: 0 30px;
			
			> li {
				padding: 30px 14px;
				display: inline-table;

				> ul {
					max-height: 0;
					max-width: 0;
					opacity: 0;
					transition: max-height 1s ease-in-out, opacity 0.3s ease-in-out 0s;
				}

				&:hover {
					> ul {
						max-height: 500px;
						opacity: 1;
						transition: max-height 1s ease-in-out, opacity 0.3s ease-out 0.3s;
					}
				}
			}
		}
	}

	.menu-icon {
		margin-left: auto;
		width: 26px;
		height: 21px;

		&:after {
			background-color: $primary-color;
			height: 1px;
			box-shadow: 0 10px 0 $primary-color, 0 20px 0 $primary-color;
		}
	}

	&.bold, &:hover {
		box-shadow: 0px 0px 20px -7px black;
		background-color: rgba($header-background-color, 1);
	}
}

// Off-canvas menu
$offcanvas-full-screen-bg: rgba(255,255,255,0.95);
$offcanvas-full-screen-side: left;
$offcanvas-full-screen-closebutton-size: 1.1rem;

.offcanvas-full-screen {
	@include off-canvas-base($background: $offcanvas-full-screen-bg, $transition: 0.3s ease-in-out);
	@include off-canvas-position($position: $offcanvas-full-screen-side, $size: 100%);
}

.offcanvas-full-screen-inner {
    
  padding: 4.8rem 2rem;
    
  ul {
		text-align: left;
		list-style: none;
		margin-left: 0;

		li {
			display: inline-flex;
			margin-right: 20px;
			
			a {
				color: $font-main-color;
				font-size: 24px;
			}

			&.current, &.active {
				> a {
					color: $primary-color;
				}
			}
		}
  }

  > ul {
		> li {
	    margin-bottom: 1.3rem;
	    margin-right: 0;
	    display: block;
	    
	    > a {
				font-weight: bold;
	    }
		}
  }
}

.offcanvas-full-screen-close {
	font-size: $offcanvas-full-screen-closebutton-size;
	color: $primary-color;
	font-weight: 100;

	position: absolute;
	right: 2rem;
	top: 1.5rem;

	cursor: pointer;
}
