/* HERO */
.hero {
	height: 100vh;
	width: 100%;
	position: relative;

	img {
		object-fit: cover;
		object-position: bottom left;
		width: 100%;
		height: 100%;
		opacity: 0.64;
	}

	.hero-text-container {

		position: absolute;
		bottom: 10%;
		left: 10%;
		right: 20%;

		.hero-headline, .hero-leadtext {
			display: inline-block;
			margin: 6px 0px;
		}

		.hero-headline {
			position: relative;
			z-index: 1;
			
			&::after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: -6px;
				border-bottom: 9px solid $primary-color;
				z-index: -1;
			}
		}
	}
}