.image-gallery {
    .owl-stage {
        display: flex;
    }
    .owl-item {
        flex: 0 0 auto;
        .neos-nodetypes-image {
            height: 100%;
            figure {
                height: 100%;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.neos-controls {
    .image-gallery {
        .neos-nodetypes-image {
            margin-top: 20px !important;
            display: flex;
            align-items: center;
        }
    }
}