.news-list {
    .news-list-item {
	margin-bottom: 36px;
	position: relative;
	background-color: $primary-color;

	height: 260px;
	@include breakpoint(medium) {
	    height: 340px;
	}
	@include breakpoint(large) {
	    height: 500px;
	}

	.main-image {
	    display: block;
	    height: 100%;
	    object-fit: cover;
	}
	.text-content {
	    position: absolute;
	    bottom: 0;
	    width: 100%;
	    padding: 15px 20px;
	    background: rgba(255,255,255,0.75);
	}
	.headline {
	    margin-bottom: 0.2rem;
	    
	    @include breakpoint(small only) {
		font-size: 1.1rem;
	    }
	    @include breakpoint(medium only) {
		font-size: 1.7rem;
	    }
	}
	.meta {
	    font-size: 0.8rem;
	    @media print, screen and (min-width: 40em) {
		font-size: 1rem;
	    }
	}
	.teaser-text {
	    margin-bottom: 0px;
	    margin-top: 24px;
	}
    }

    .large-6 .news-list-item .headline {

	@include breakpoint(large) {
	    font-size: 2rem;
	}
    }
}
.news-article {
    .top-text {
	margin-bottom: 28px;
    }
    .headline {
	font-weight: 700;
	font-size: 1.8rem;
	@media print, screen and (min-width: 40em) {
	    font-size: 2.8rem;
	}
    }
    .main-image {
	margin-bottom: 28px;
    }
    .meta {
	font-size: 0.9rem;
	@media print, screen and (min-width: 40em) {
	    font-size: 1rem;
	}

	.author {
	    font-weight: bolder;
	}
    }
    .article-body {
	h1, h2, h3 {
	    font-weight: bolder;
	}
	h1 {
	    font-size: 1.6rem;
	    @media print, screen and (min-width: 40em) {
		font-size: 2.0rem;
	    }
	}
	h2 {
	    font-size: 1.35rem;
	    @media print, screen and (min-width: 40em) {
		font-size: 1.6rem;
	    }
	}
	h3 {
	    font-size: 1.1rem;
	    @media print, screen and (min-width: 40em) {
		font-size: 1.2rem;
	    }
	}
	figcaption {
	    p {
		line-height: 1.3;
		font-weight: bolder;
		font-size: 0.9rem;
	    }
	}
	img {
	    min-width: 100%;
	}
    }
}
