.page-hero {

    position: relative;

    @media screen and (max-width: 39.9375em) {
        height: 210px;
    }
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        height: 280px;
    }
    @media screen and (min-width: 64em) {
        height: 360px;
    }

    > img {
        object-fit: cover;
        max-height: 100%;
        width: 100vw;
    }
    .title-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        .title {
            margin-bottom: 0;
            display: inline-block;
            background: rgba(255,255,255,0.75);
            padding: 0 0.9rem 0.3rem 0.9rem;
            margin-left: -0.9rem;
            font-weight: bold;
        }
    }
}
