.site-hero {

    position: relative;
    
    @media screen and (max-width: 39.9375em) {
        height: 290px;
    }
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        height: 350px;
    }
    @media screen and (min-width: 64em) {
        height: 460px;
    }
    max-height: 100vh;

    > img {
        object-fit: cover;
        max-height: 100%;
        height: 100%;
        width: 100vw;
    }

    .logo-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        .logo {
            transform: translateY(1px);
            @include breakpoint(medium) {
                max-width: 61.8%;
            }
        }
    }
}
