$table-end-width: 27px;
$table-end-width-first-last: 33px;
$table-total-width: 42px;

.tournament {
    section {
        padding-top: 30px;
        padding-bottom: 20px;
    }
}

.team-box {
    margin-bottom: 3em;
    > .name {
        font-size: 2rem;
    }
    .team-members {
        margin-top: 1em;
    }
}

.team-member {
    .name {
        font-weight: bolder;
    }
    .pos-func {
        margin-left: 0.8em;
    }
}

.current-games-row {
    background: $primary-gradient;
}

.ranking {
    margin-top: 2rem;
    margin-bottom: 3rem;

    table {
        border-collapse: collapse;
        thead,
        tbody,
        tr {
            border: none;
        }
        td, th {
            text-align: center;
        }
        thead,
        tbody {
            tr {
                border-bottom: 1px solid $primary-color;
            }
        }
        thead {
            background-color: transparent;
            border-bottom: 2px $primary-color;
        }
        tbody {
            td:first-child {
                text-align: right;
            }
            td:nth-child(2) {
                text-align: left;
            }
            td:first-child {
                font-weight: bold;
            }
        }
    }

    .ranking-row {
        display: flex;
        align-items: baseline;
        margin-top: 2rem;
        margin-bottom: 2rem;

        .rank {
            width: 46px;
            font-size: 1.6rem;
        }
        .team {
            font-size: 1.2rem;
            margin-bottom: 0.4rem;
            span {
                padding: 4px 10px;
                background-color: $primary-color;
                color: white;
            }
        }
        .attributes {
            display: inline-flex;
            .attribute:first-child {
                font-weight: bolder;
            }
        }
        .attribute {
            margin-right: 12px;
            font-size: 1.7rem;
            
            .name {
                font-size: 0.8rem;
                margin-top: -4px;
            }
        }
    }
}

.game {

    margin-top: 2rem;
    margin-bottom: 2rem;

    .date {
        margin-bottom: 0.6rem;

        .day,
        .month {
            font-size: 1.5rem;
        }
    }

    .versus {
        margin-top: 4px;
        margin-bottom: 8px;
    }

    .rink {
        margin-left: 20px;
    }

    .team-box {
        background-color: $primary-color;
        color: white;
        display: inline-block;
        padding: 1px 10px;
    }
}

.game-table {
    .team {
        display: inline-block;
        color: white;
        padding: 0.1em 0.4em;
        background-color: $light-grey;
    }

    .teams .winner,
    .team.winner {
        background-color: $primary-color;
    }

    .hammer {
        width: 20px;
        margin-left: 14px;
        margin-right: 1px;
        float: right;
        display: inline-block;
        background: url('/_Resources/Static/Packages/GF.CCLaufen/Assets/Icons/hammer_icon.svg') no-repeat center;
    }

    .game-grid {

        display: flex;
        align-items: center;
        text-align: center;
        font-size: 1.2rem;

        .ends,
        .col {
            display: inline-block;
        }

        .cell {
            &:first-child {
                border-bottom: 1px solid $light-grey;
            }
            &:last-child {
                border-top: 1px solid $light-grey;
            }
        }

        .teams {
            font-size: 1rem;
            text-align: left;
            background-color: $light-grey;
            color: white;

            .team-name {
                margin-left: 10px;
                margin-right: 10px;
            }
            .cell {
                border: none;
                min-width: 240px;
            }
            .cell:first-child {
                padding-top: 3px;
                padding-bottom: 1px;
            }
            .cell:last-child {
                padding-top: 1px;
                padding-bottom: 3px;
            }
            .hammer {
                margin-right: 10px;
            }
        }

        .end {
            width: $table-end-width;

            &:last-child {
                width: $table-end-width-first-last;
            }

            &:last-child span {
                padding-right: $table-end-width-first-last - $table-end-width;
            }
        }

        .total {
            width: $table-total-width;
            border-left: 2px solid $light-grey;
        }
    }
}

.seasons-list .season {
    margin-top: 1em;
    margin-bottom: 2.6em;

    .title {
        margin-bottom: 1em;
    }
}

.tournaments-list .item {

    margin-bottom: 2.2em;

    .logo {
        object-fit: contain;
        object-position: left;
        width: 100%;
        max-height: 140px;
        margin-bottom: 0.7em;
    }
    .text-container {
        display: flex;
        align-items: center;

        h1 {
            width: 100%;
        }
    }
}