$main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

//$primary-color: #9012FE;
$primary-color: #304f96;
$link-hover-color: #af8ecc;
$error-color: #de0077;
$medium-grey: #777;
$light-grey: #AAA;

$font-main-color: #333;
$header-background-color: white;

$header-logo-width: 60px;

$header-content-spacing: (
  small: 40px,
  medium: 60px,
  large: 80px
);
$content-footer-spacing: (
  small: 40px,
  medium: 70px,
  large: 100px
);

$primary-gradient: linear-gradient(to bottom right, #e9e5ff, #f1e2ff);

$default-spacing: 50px;
