<footer id="footer">
    <div class="row">
        <div class="small-12 columns navigation-row">
            <div class="facebook">
                <a href="https://www.facebook.com/Curling-Junioren-Laufen-331008643776825/" target="_blank">
                    Folge uns auf
                    <br/>
                    <img class="facebook-logo" src="{f:uri.resource(path: 'Assets/Icons/facebook_long.svg', package: 'GF.CCLaufen')}">
                </a>
            </div>
            <div class="footer-menu">
                {menu -> f:format.raw()}
            </div>
        </div>
        <div class="small-12 columns branding">
            <p>
                Copyright © 2019 Curling Club Laufen &nbsp; | &nbsp; <a href="https://www.gabrielfringeli.ch" target="_blank">
                    Design &amp; Entwicklung Gabriel Fringeli
                </a>
            </p>
            
        </div>
    </div>
</footer>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>