{namespace neos=Neos\Neos\ViewHelpers}
<div id="header">
	<div class="row">
		<div class="columns header-content">
		<a class="logo" href="{neos:uri.node(node: '~')}">
			<img class="logo-small" src="{f:uri.resource(path: 'Assets/Images/CCLaufen_Logo.svg', package: 'GF.CCLaufen')}">
		</a>
		<nav class="menu show-for-large">
			{menu -> f:format.raw()}
		</nav>
		<button class="menu-icon hide-for-large" type="button" data-toggle="offcanvas-menu"></button>

		<div id="offcanvas-menu" class="offcanvas-full-screen" data-off-canvas data-transition="overlap">
			<div class="offcanvas-full-screen-inner">
				<button class="offcanvas-full-screen-close" aria-label="Close menu" type="button" data-close>
					<span aria-hidden="true">schliessen</span>
				</button>

				{menu -> f:format.raw()}

			</div>
		</div>
		</div>
	</div>
</div>