<!-- jQuery -->
<script src="{f:uri.resource(path: 'Vendors/jquery/dist/jquery.min.js', package: 'GF.CCLaufen')}"></script>

<!-- OwlCarousel -->
<script src="{f:uri.resource(path: 'Vendors/owl.carousel/dist/owl.carousel.min.js', package: 'GF.CCLaufen')}"></script>

<!-- Photoswipe -->
<script src="{f:uri.resource(path: 'Vendors/photoswipe/dist/photoswipe.min.js', package: 'GF.CCLaufen')}"></script>
<script src="{f:uri.resource(path: 'Vendors/photoswipe/dist/photoswipe-ui-default.min.js', package: 'GF.CCLaufen')}"></script>

<!-- What Input -->
<script src="{f:uri.resource(path: 'Vendors/what-input/dist/what-input.min.js', package: 'GF.CCLaufen')}"></script>

<!-- Foundation 6 JS -->
<script src="{f:uri.resource(path: 'Vendors/foundation-sites/dist/js/foundation.min.js', package: 'GF.CCLaufen')}"></script>