<!-- OwlCarousel -->
<link rel="stylesheet" href="{f:uri.resource(path: 'Vendors/owl.carousel/dist/assets/owl.carousel.min.css', package: 'GF.CCLaufen')}" />
<link rel="stylesheet" href="{f:uri.resource(path: 'Vendors/owl.carousel/dist/assets/owl.theme.default.min.css', package: 'GF.CCLaufen')}" />

<!-- Photoswipe -->
<link rel="stylesheet" href="{f:uri.resource(path: 'Vendors/photoswipe/dist/photoswipe.css', package: 'GF.CCLaufen')}">
<link rel="stylesheet" href="{f:uri.resource(path: 'Vendors/photoswipe/dist/default-skin/default-skin.css', package: 'GF.CCLaufen')}">

<!-- Custom Styling -->
<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/Main.css', package: 'GF.CCLaufen')}" media="all" />