{namespace media=Neos\Media\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
<a href="{neos:uri.node(node: node)}" class="column {sizeClasses}">
	<div class="news-list-item">
	<f:if condition="{image}">
		<media:image image="{image}" width="1200" class="main-image" alt=""/>
	</f:if>
	<div class="text-content">
		<h1 class="headline">{headline}</h1>
		<div class="meta">
			<span class="author">{author}</span> | {publicationDate -> f:format.date(localeFormatType: 'date', localeFormatLength: 'long', forceLocale:true)}
		</div>
		<p class="teaser-text hide-for-small-only" style="display:none;">
			{teaserText}
		</p>
	</div>
	</div>
</a>