{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<div class="news-article">
	<div class="row columns top-text">
		{neos:contentElement.editable(property: 'headline', tag: 'h1', class: 'headline')}
		<div class="meta">{neos:contentElement.editable(property: 'author', tag: 'span', class: 'author')} | {publicationDate -> f:format.date(localeFormatType: 'date', localeFormatLength: 'long', forceLocale:true)}</div>
	</div>
	<div class="row columns top-text article-body">
		{articleBody -> f:format.raw()}
	</div>
</div>