<div class="event row columns">
    <div class="row">
    <h3 class="small-12 medium-5 large-4 columns date">
        <span class="weekday">{f:format.date(date: event.begin, forceLocale: true, cldrFormat: 'E')}</span>
        {f:format.date(date: event.begin, forceLocale: true, cldrFormat: 'd.')}
        <span class="month">{f:format.date(date: event.begin, forceLocale: true, cldrFormat: 'MMMM')}</span>
    </h3>
    <h3 class="small-12 medium-7 large-8 columns title">{event.title}</h3>
    </div>
    <div class="row">
    <div class="small-12 medium-7 medium-offset-5 large-8 large-offset-4 columns info-box">
        <f:if condition="{event.description}">
            <p>
                {event.description}
            </p>
        </f:if>
        <p class="time">
            <span class="attribute">Wann?</span><br/>
            {event.formattedTimeInformation}
        </p>
        <f:if condition="{event.location}">
            <p class="location">
                <span class="attribute">Wo?</span><br/>
                {event.location}
            </p>
        </f:if>
    </div>
    </div>
</div>