{namespace neos=Neos\Neos\ViewHelpers}
<div class="game">
    <div class="date">
        <span class="weekday">
            {time -> f:format.date(cldrFormat: 'E', forceLocale: true)}
        </span>
        <span class="day">
            {time -> f:format.date(cldrFormat: 'd.', forceLocale: true)}
        </span>
        <span class="month">
            {time -> f:format.date(cldrFormat: 'MMM', forceLocale: true)}
        </span>
        /
        <span class="time">
            {time -> f:format.date(cldrFormat: 'H:mm', forceLocale: true)}
        </span>
        <span class="rink">
            Rink 
            {neos:contentElement.editable(property: 'rink', tag: 'span')}
        </span>
    </div>
    <f:if condition="{showGameTable}">
        <f:then>
            <f:render section="gameTable" />
        </f:then>
        <f:else>
            <div class="team-box">{teamA.properties.name}</div>
            <div class="versus show-for-small-only">gegen</div>
            <span class="hide-for-small-only">gegen</span>
            <div class="team-box">{teamB.properties.name}</div>
        </f:else>
    </f:if>
</div>

<f:section name="gameTable">
    <div class="game-table">
        <div class="team hide-for-large{f:if(condition:'{totalA} > {totalB}', then: ' winner')}">{teamA.properties.name}
            <f:if condition="{hammer} == 'a'"><span class="hammer">&nbsp;</span></f:if>
        </div>
        <div class="game-grid">
            <div class="teams col show-for-large">
                <div class="cell top{f:if(condition:'{totalA} > {totalB}', then: ' winner')}">
                    <span class="team-name">{teamA.properties.name}
                        <f:if condition="{hammer} == 'a'"><span class="hammer">&nbsp;</span></f:if>
                    </span>
                </div>
                <div class="cell bottom{f:if(condition:'{totalA} < {totalB}', then: ' winner')}">
                    <span class="team-name">{teamB.properties.name}
                        <f:if condition="{hammer} == 'b'"><span class="hammer">&nbsp;</span></f:if>
                    </span>
                </div>
            </div>{ends -> f:format.raw()}<div class="total col">
                <div class="cell top">
                    <span>{totalA}</span>
                </div>
                <div class="cell bottom">
                    <span>{totalB}</span>
                </div>
            </div>
        </div>
        <div class="team hide-for-large{f:if(condition:'{totalA} < {totalB}', then: ' winner')}">{teamB.properties.name}
            <f:if condition="{hammer} == 'b'"><span class="hammer">&nbsp;</span></f:if>
        </div>
    </div>
</f:section>