<div class="ranking">
    <h2>Rangliste</h2>
    <div class="hide-for-large">
        <f:for each="{rankings}" as="rank" iteration="iteration">
        <div class="ranking-row">
            <div class="rank">{iteration.cycle}</div>
            <div>
                <div class="team"><span>{rank.name}</span></div>
                <div class="attributes">
                    <div class="attribute">
                        <div class="value">{rank.results.points}</div>
                        <div class="name">Punkte</div>
                    </div>
                    <div class="attribute">
                        <div class="value">{rank.results.ends}</div>
                        <div class="name">Ends</div>
                    </div>
                    <div class="attribute">
                        <div class="value">{rank.results.stones}</div>
                        <div class="name">Steine</div>
                    </div>
                    <div class="attribute">
                        <div class="value">{rank.results.games}</div>
                        <div class="name">Spiele</div>
                    </div>
                </div>
            </div>
        </div>
        </f:for>
    </div>
    <table class="show-for-large unstriped">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Punkte</th>
                <th>Ends</th>
                <th>Steine</th>
                <th>Spiele</th>
            </tr>
        </thead>
        <tbody>
            <f:for each="{rankings}" as="rank" iteration="iteration">
                <tr>
                    <td>{iteration.cycle}</td>
                    <td>{rank.name}</td>
                    <td>{rank.results.points}</td>
                    <td>{rank.results.ends}</td>
                    <td>{rank.results.stones}</td>
                    <td>{rank.results.games}</td>
                </tr>
            </f:for>
        </tbody>
    </table>
</div>