{namespace neos=Neos\Neos\ViewHelpers}
<div class="team-member">
	{neos:contentElement.editable(property: 'firstName', tag: 'span', class: 'name')}
	{neos:contentElement.editable(property: 'lastName', tag: 'span', class: 'name')}
	<span class="pos-func"> {position}&nbsp; {function}</span>
</div>