{namespace neos=Neos\Neos\ViewHelpers}
<div class="team-box row align-middle">
	<f:if condition="{picture}">
		<f:then>
			<div class="column small-12 large-6">
					{neos:contentElement.editable(property: 'name', tag: 'h3', class: 'name')}
					<neos.media:image image="{picture}" allowCropping="true" height="800" width="1200" alt=""/>
				</div>
				<div class="column small-12 large-6">
					<div class="team-members">
						{teamMembers -> f:format.raw()}
					</div>
				</div>
		</f:then>
		<f:else>
			<div class="column small-12 medium-6">
				{neos:contentElement.editable(property: 'name', tag: 'h3', class: 'name')}
				<div class="team-members">
					{teamMembers -> f:format.raw()}
				</div>
			</div>
		</f:else>
	</f:if>
</div>