{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<div class="row columns tournaments-list">
    <f:for each="{tournaments}" as="tournament">
        <neos:link.node class="item row" node="{tournament}">
            <f:if condition="{tournament.properties.logo}">
                <media:image class="logo small-12 medium-2 columns" image="{tournament.properties.logo}" alt="{tournament.properties.logo.title}"/>
            </f:if>
            <div class="small-12 medium-10 columns text-container">
                <h1 class="small-only-text-center">{tournament.properties.title}</h1>
            </div>
        </neos:link.node>
    </f:for>
</div>