{namespace neos=Neos\Neos\ViewHelpers}

<f:section name="backend">
	<div class="tournament">
		<div class="row">
			<div class="row columns small-12 top-text">
				<h2>Spiele</h2>
				{games -> f:format.raw()}
			</div>
			<div class="row columns small-12 top-text">
				<h2>Teams</h2>
				{teams -> f:format.raw()}
			</div>
			<span>Diese Ansicht entspricht nicht der für den Benutzer sichtbaren Seite.</span>
		</div>
	</div>
</f:section>

<f:section name="live">
	<div class="tournament">
		<f:if condition="{currentGames}">
			<div class="current-games-row">
				<div class="row columns">
					<section>
						<h2>Laufende Spiele</h2>
						{currentGames -> f:format.raw()}
					</section>
				</div>
			</div>
		</f:if>
		<div class="row columns">
			{ranking -> f:format.raw()}
			<f:if condition="{nextGames}">
				<section>
					<h2>Nächste Spiele</h2>
					{nextGames -> f:format.raw()}
				</section>
			</f:if>
			<f:if condition="{pastGames}">
				<section>
					<h2>Vergangene Spiele</h2>
					{pastGames -> f:format.raw()}
				</section>
			</f:if>
			</div>
		</div>
	</div>
</f:section>